<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/home">Abul Fatah</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/books">Books</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/media">Media</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/stickers">Stickers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/alquran">Al Quran</a>
        </li>
        <li class="nav-item">
          <a class="nav-link">Contact Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link">About Us</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="grid">
  <div class="col-12 md:col-12 lg:col-12">
    <div class="p-4">
      <p-galleria [value]="images" [autoPlay]="true" [showTransitionOptions]="'1000ms'" [showItemNavigators]="true"
        [showThumbnails]="false" [responsiveOptions]="responsiveOptions" [containerStyle]="{ 'max-width': '100%' }">
        <ng-template pTemplate="item" let-item>
          <img [src]="item.itemImageSrc" style="width:100%;height:300px;" />
        </ng-template>
      </p-galleria>
    </div>
  </div>
</div>

<!-- 02 news area -->

<div class="grid">
  <div class="col-12 md:col-6 lg:col-6">
    <div class="p-6">
      <p-galleria [value]="images" [autoPlay]="true" [showTransitionOptions]="'1000ms'" [showItemNavigators]="true"
        [showThumbnails]="false" [responsiveOptions]="responsiveOptions" [containerStyle]="{ 'max-width': '100%' }">
        <ng-template pTemplate="item" let-item>
          <img [src]="item.itemImageSrc" style="width:100%;height: 300px;" />
        </ng-template>
      </p-galleria>
    </div>
  </div>
  <div class="col-12 md:col-6 lg:col-6">
    <div class="p-6">
      <p-galleria [value]="images" [autoPlay]="true" [showTransitionOptions]="'1000ms'" [showItemNavigators]="true"
        [showThumbnails]="false" [responsiveOptions]="responsiveOptions" [containerStyle]="{ 'max-width': '100%' }">
        <ng-template pTemplate="item" let-item>
          <img [src]="item.itemImageSrc" style="width:100%;height: 300px;" />
        </ng-template>
      </p-galleria>
    </div>
  </div>
</div>

<!-- 03 Search books -->

<section class="banner-search section-bg padding-120">
  <div class="container">

    <form>
      <select class="bn-search-opt">
        <option>All Categories</option>
        <option>Book 1</option>
        <option>Book 2</option>
        <option>Book 3</option>
        <option>Book 4</option>
        <option>Book 5</option>
        <option>Book 6</option>
        <option>Book 7</option>
      </select>
      <select class="bn-search-opt">
        <option>Book Lavel</option>
        <option>Volume 1</option>
        <option>Volume 2</option>
        <option>Volume 3</option>
      </select>
      <input class="bn-search-opt" type="search" name="search" placeholder="Books Keyword...">
      <button>Search Books</button>
    </form>
  </div>

</section>

<!-- 04 Groups Category  -->

<section class="pricing">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="pricing-item">
          <div class="title" style="padding: 10px;text-align: center">
            <h3>AI Quran</h3>
          </div>
          <div class="content">
            <p><i class="fa fa-check-circle" aria-hidden="true"></i> Read Complete Al Quran</p>
            <p><i class="fa fa-check-circle" aria-hidden="true"></i>Kanzul Eman Noorul Irfan</p>
            <p><i class="fa fa-check-circle" aria-hidden="true"></i>Al Quran Arabic</p>
            <p><i class="fa fa-check-circle" aria-hidden="true"></i>Al Quran MP3 Para Wise</p>
            <p><i class="fa fa-check-circle" aria-hidden="true"></i> Al Quran MP3 Surah Wise</p>
          </div>
          <div class="bottom">
            <a href="#" class="button-default">View ALL</a>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="pricing-item">
          <div class="title" style="background-color: black;padding: 10px;text-align: center">
            <h3>Book</h3>
          </div>
          <div class="content">
            <p><i class="fa fa-check-circle" aria-hidden="true"></i>Speeches</p>
            <p><i class="fa fa-check-circle" aria-hidden="true"></i>Hamd</p>
            <p><i class="fa fa-check-circle" aria-hidden="true"></i>Naat</p>
            <p><i class="fa fa-check-circle" aria-hidden="true"></i>Darse Fiqah</p>
            <p><i class="fa fa-check-circle" aria-hidden="true"></i> Meray Ghous Piya Jilani</p>
          </div>
          <div class="bottom">
            <a href="#" class="button-default">View ALL</a>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="pricing-item">
          <div class="title" style="background-color: #ffb400;padding: 10px;text-align: center">
            <h3>Media <span><sup></sup></span></h3>
          </div>
          <div class="content">
            <p><i class="fa fa-check-circle" aria-hidden="true"></i>Speeches</p>
            <p><i class="fa fa-check-circle" aria-hidden="true"></i>Hamd</p>
            <p><i class="fa fa-check-circle" aria-hidden="true"></i>Naat</p>
            <p><i class="fa fa-check-circle" aria-hidden="true"></i>Darse Fiqah</p>
            <p><i class="fa fa-check-circle" aria-hidden="true"></i> Meray Ghous Piya Jilani</p>
          </div>
          <div class="bottom">
            <a href="#" class="button-default">View ALL</a>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="pricing-item">
          <div class="title" style="padding: 10px;text-align: center">
            <h3>Gallary <span><sup></sup></span></h3>
          </div>
          <div class="content">
            <p><i class="fa fa-check-circle" aria-hidden="true"></i> Meray Ghous Piya Jilani</p>
            <p><i class="fa fa-check-circle" aria-hidden="true"></i> Khuda Kay Fazl Se Ham Per </p>
            <p><i class="fa fa-check-circle" aria-hidden="true"></i> Faslon Ko Khudara Mita Do</p>
            <p><i class="fa fa-check-circle" aria-hidden="true"></i> Qasida Ghousia</p>
            <p><i class="fa fa-check-circle" aria-hidden="true"></i> Meran Walion Kay Imam De D </p>
          </div>
          <div class="bottom">
            <a href="#" class="button-default">View ALL</a>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>
<!-- 04 Question Answer  -->


<section class="pricing padding-120">
			<div class="container">
		
			<div class="row">
				<div class="col-md-6 col-sm-6 col-xs-12">
					
					<div class="pricing-item">
						<div class="title"  style="background-color:#ffb400;padding: 10px;text-align: center">
							<h3>Recent Articles</h3>
						</div>
						<div class="content">
							<p><i class="fa fa-check-circle" aria-hidden="true"></i>Writing & Work of Imam Ahmad Raza</p>
							<p><i class="fa fa-check-circle" aria-hidden="true"></i>Primary and Tertiary Education of Alahzrat</p>
							<p><i class="fa fa-check-circle" aria-hidden="true"></i>92 Pearls of Wisdom by Alahazratc</p>
							<p><i class="fa fa-check-circle" aria-hidden="true"></i>In defence of Alahazrat Imam Ahmed Raza</p>
							<p><i class="fa fa-check-circle" aria-hidden="true"></i>Alahazrat Spiritual Life</p>
						</div>
						<div class="bottom">
							<a href="#" class="button-default">View ALL</a>
						</div>
					</div><!-- pricing item -->
				</div>
				<div class="col-md-6 col-sm-6 col-xs-12">
					<div class="pricing-item">
						<div class="title" style="padding: 10px;text-align: center">
							<h3>Question/Answer</h3>
						</div>
						<div class="content">
							<p><i class="fa fa-check-circle" aria-hidden="true"></i>Roza Main Baal Katwana Kaisa Hay</p>
							<p><i class="fa fa-check-circle" aria-hidden="true"></i>Eid Ke Din Roza Rakha Jaij Ya Nahi</p>
							<p><i class="fa fa-check-circle" aria-hidden="true"></i>Roza Ki Halat Mein Aankh Mein Dawai Dalna</p>
							<p><i class="fa fa-check-circle" aria-hidden="true"></i>Rozay Mein Sugar Ya Khoon Test Karana</p>
							<p><i class="fa fa-check-circle" aria-hidden="true"></i>Rozay Ki Halat Main Insoleen Lagwana Kaisa He</p>
						</div>
						<div class="bottom">
							<a href="#" class="button-default">View ALL</a>
						</div>
					</div><!-- pricing item -->
				</div>
			</div><!-- row -->
				
			</div><!-- container -->
		</section>
<!-- Footer Start here -->
<footer>

  <div class="footer-bottom">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-12">
          <p>&copy; 2023. Designed By <a href="https://www.linkedin.com/in/mohammad-naqeem-raza-momin-a8202a21a">Abul
              Fatah</a></p>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12">
          <ul class="social-default">
            <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
            <li><a href="#"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
            <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
            <li><a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div><!-- footer bottom -->
</footer>
<a class="page-scroll scroll-top" href="#scroll-top"><i class="fa fa-angle-up" aria-hidden="true"></i></a>
<!-- Footer End here -->

<router-outlet></router-outlet>


<!--
  https://www.primefaces.org/diamond/icons.xhtml
  https://www.primefaces.org/primeflex/formlayout
  https://primeng.org/slider 

-->