@import '../assets/css/style.css';
@import '../assets/css/responsive.css';

.bg-light {
    background-color: #2F3366!important;
}
a{
    color: white;
}

.ios-menu {
    width: 14px;
  }

  .section-header{
    text-align: center;
    max-width: 650px;
    margin: 0px auto 55px;
}

