	  
<body id="#scroll-top">
  	<!-- banner-search Start here -->
  	<section class="banner-search section-bg padding-120">
  		<div class="container">
  			<form>
  				<select class="bn-search-opt">
	  				<option>All Categories</option>
	  				<option>Book 1</option>
	  				<option>Book 2</option>
	  				<option>Book 3</option>
	  				<option>Book 4</option>
	  				<option>Book 5</option>
	  				<option>Book 6</option>
	  				<option>Book 7</option>
	  			</select>
	  			<select class="bn-search-opt">
	  				<option>Book Lavel</option>
	  				<option>Volume 1</option>
	  				<option>Volume 2</option>
	  				<option>Volume 3</option>
	  			</select>
	  			<input class="bn-search-opt" type="search" name="search" placeholder="Books Keyword...">
	  			<button>Search Books</button>
  			</form>
  		</div><!-- container -->
  	</section><!-- banner-search -->
  	<!-- banner-search End here -->

  		<!-- Courses Start here -->
		  <section class="courses" style="padding-top:49px">
			<div class="container">
				<div class="row">
					<div class="col-md-12 col-sm-12 col-xs-12">
						<div class="row">
							<div class="col-md-3 col-sm-4 col-xs-3">
								<div class="course-item">
									<div class="image">
										<img src="../assets/images/11.jpeg" alt="course image" class="img-responsive">
									</div>
								</div><!-- course item -->
							</div>
							<div class="col-md-3 col-sm-4 col-xs-3">
							  <div class="course-item">
								  <div class="image">
									  <img src="../assets/images/12.jpeg" alt="course image" class="img-responsive">
								  </div>
							  </div><!-- course item -->
						  </div>
						  <div class="col-md-3 col-sm-4 col-xs-3">
							  <div class="course-item">
								  <div class="image">
									  <img src="../assets/images/13.jpeg" alt="course image" class="img-responsive">
								  </div>
							  </div><!-- course item -->
						  </div>
						  <div class="col-md-3 col-sm-4 col-xs-3">
							<div class="course-item">
								<div class="image">
									<img src="../assets/images/14.jpeg" alt="course image" class="img-responsive">
								</div>
							</div><!-- course item -->
						</div>
						</div>
					</div>
				</div><!-- row -->
			</div><!-- container -->
		</section>
		<!-- courses -->
		<!-- Courses End here -->

		<!-- Courses Start here -->
		<section class="courses" >
			<div class="container">
				<div class="row">
					<div class="col-md-12 col-sm-12 col-xs-12">
						<div class="row">
							<div class="col-md-3 col-sm-4 col-xs-3">
								<div class="course-item">
									<div class="image">
										<img src="../assets/images/quran/1.jpeg" alt="course image" class="img-responsive">
									</div>
								</div><!-- course item -->
							</div>
							<div class="col-md-3 col-sm-4 col-xs-3">
							  <div class="course-item">
								  <div class="image">
									  <img src="../assets/images/quran/1.jpeg" alt="course image" class="img-responsive">
								  </div>
							  </div><!-- course item -->
						  </div>
						<div class="col-md-3 col-sm-4 col-xs-3">
							<div class="course-item">
								<div class="image">
									<img src="../assets/images/quran/4.png" alt="course image" class="img-responsive">
								</div>
							</div><!-- course item -->
						</div>
						<div class="col-md-3 col-sm-4 col-xs-3">
							<div class="course-item">
								<div class="image">
									<img src="../assets/images/quran/5.png" alt="course image" class="img-responsive">
								</div>
							</div><!-- course item -->
						</div>
						</div>
					</div>
				</div><!-- row -->
			</div><!-- container -->
		</section>
		<!-- courses -->
		<!-- Courses End here -->


 	<!-- Pricing Start here -->
	 <section class="pricing">
		<div class="container">
		<div class="row">
			<div class="col-md-4 col-sm-6 col-xs-12">
				<div class="pricing-item">
					<div class="title">
						<h3>AI Quran <span><sup></sup></span></h3>
					</div>
					<div class="content">
						<p><i class="fa fa-check-circle" aria-hidden="true"></i> Read Complete Al Quran</p>
						<p><i class="fa fa-check-circle" aria-hidden="true"></i>Kanzul Eman Noorul Irfan</p>
						<p><i class="fa fa-check-circle" aria-hidden="true"></i>Al Quran Arabic</p>
						<p><i class="fa fa-check-circle" aria-hidden="true"></i>Al Quran MP3 Para Wise</p>
						<p><i class="fa fa-check-circle" aria-hidden="true"></i>  Al Quran MP3 Surah Wise</p>
					</div>
					<div class="bottom">
						<a href="#" class="button-default">View ALL</a>
					</div>
				</div><!-- pricing item -->
			</div>
			<div class="col-md-4 col-sm-6 col-xs-12">
				<div class="pricing-item">
					<div class="title" style="background-color: #ffb400;">
						<h3>Media <span><sup></sup></span></h3>
					</div>
					<div class="content">
						<p><i class="fa fa-check-circle" aria-hidden="true"></i>Speeches</p>
						<p><i class="fa fa-check-circle" aria-hidden="true"></i>Hamd</p>
						<p><i class="fa fa-check-circle" aria-hidden="true"></i>Naat</p>
						<p><i class="fa fa-check-circle" aria-hidden="true"></i>Darse Fiqah</p>
						<p><i class="fa fa-check-circle" aria-hidden="true"></i> Meray Ghous Piya Jilani</p>
					</div>
					<div class="bottom">
						<a href="#" class="button-default">View ALL</a>
					</div>
				</div><!-- pricing item -->
			</div>
			<div class="col-md-4 col-sm-6 col-xs-12">
				<div class="pricing-item">
					<div class="title">
						<h3>Gallary <span><sup></sup></span></h3>
					</div>
					<div class="content">
						<p><i class="fa fa-check-circle" aria-hidden="true"></i> Meray Ghous Piya Jilani</p>
						<p><i class="fa fa-check-circle" aria-hidden="true"></i> Khuda Kay Fazl Se Ham Per </p>
						<p><i class="fa fa-check-circle" aria-hidden="true"></i> Faslon Ko Khudara Mita Do</p>
						<p><i class="fa fa-check-circle" aria-hidden="true"></i> Qasida Ghousia</p>
						<p><i class="fa fa-check-circle" aria-hidden="true"></i> Meran Walion Kay Imam De D </p>
					</div>
					<div class="bottom">
						<a href="#" class="button-default">View ALL</a>
					</div>
				</div><!-- pricing item -->
			</div>
		</div><!-- row -->
			
		</div><!-- container -->
	</section>
	<!-- Pricing End here -->

		<!-- Pricing Start here -->
		<section class="pricing padding-120">
			<div class="container">
			<!-- <div class="section-header">
			  <h3>Al Quran</h3>
			  <p>Rapidiously expedite granular imperatives before economically sound web services. Credibly actualize pandemic strategic themeplatform.</p>
			</div> -->
			<div class="row">
				<div class="col-md-6 col-sm-6 col-xs-12">
					
					<div class="pricing-item">
						<div class="title" style="background-color:#ffb400;">
							<h3>Recent Articles <span><sup></sup></span></h3>
						</div>
						<div class="content">
							<p><i class="fa fa-check-circle" aria-hidden="true"></i>Writing & Work of Imam Ahmad Raza</p>
							<p><i class="fa fa-check-circle" aria-hidden="true"></i>Primary and Tertiary Education of Alahzrat</p>
							<p><i class="fa fa-check-circle" aria-hidden="true"></i>92 Pearls of Wisdom by Alahazratc</p>
							<p><i class="fa fa-check-circle" aria-hidden="true"></i>In defence of Alahazrat Imam Ahmed Raza</p>
							<p><i class="fa fa-check-circle" aria-hidden="true"></i>Alahazrat Spiritual Life</p>
						</div>
						<div class="bottom">
							<a href="#" class="button-default">View ALL</a>
						</div>
					</div><!-- pricing item -->
				</div>
				<div class="col-md-6 col-sm-6 col-xs-12">
					<div class="pricing-item">
						<div class="title">
							<h3>Question Answers<span><sup></sup></span></h3>
						</div>
						<div class="content">
							<p><i class="fa fa-check-circle" aria-hidden="true"></i>Roza Main Baal Katwana Kaisa Hay</p>
							<p><i class="fa fa-check-circle" aria-hidden="true"></i>Eid Ke Din Roza Rakha Jaij Ya Nahi</p>
							<p><i class="fa fa-check-circle" aria-hidden="true"></i>Roza Ki Halat Mein Aankh Mein Dawai Dalna</p>
							<p><i class="fa fa-check-circle" aria-hidden="true"></i>Rozay Mein Sugar Ya Khoon Test Karana</p>
							<p><i class="fa fa-check-circle" aria-hidden="true"></i>Rozay Ki Halat Main Insoleen Lagwana Kaisa He</p>
						</div>
						<div class="bottom">
							<a href="#" class="button-default">View ALL</a>
						</div>
					</div><!-- pricing item -->
				</div>
			</div><!-- row -->
				
			</div><!-- container -->
		</section>
		<!-- Pricing End here -->

  	<!-- Footer Start here -->
  	<footer>
  		
  		<div class="footer-bottom">
  			<div class="container">
  				<div class="row">
	  				<div class="col-md-6 col-sm-6 col-xs-12">
	  					<p>&copy; 2023. Designed By <a href="https://www.linkedin.com/in/mohammad-naqeem-raza-momin-a8202a21a/">Abul Fatah</a></p>
	  				</div>
	  				<div class="col-md-6 col-sm-6 col-xs-12">
	  					<ul class="social-default">
			  				<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
			  				<li><a href="#"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
			  				<li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
			  				<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
			  				<li><a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
			  			</ul>
	  				</div>
	  			</div><!-- row -->
  			</div><!-- container -->
  		</div><!-- footer bottom -->
  	</footer>
    <a class="page-scroll scroll-top" href="#scroll-top"><i class="fa fa-angle-up" aria-hidden="true"></i></a>
  	<!-- Footer End here -->
</body>