/* You can add global styles to this file, and also import other style files */
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";


body{
    background-color: #BAE5FA;
    font-size: 14px;
}

.navbar-brand {
    font-size: 14px;
}